.tableContainer {
  width: 100%;
  margin-top: 3rem;
  border-collapse: collapse;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.tableHeader {
  background-color: #272727;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tableCell {
  border: 1px solid #dddddd;
  padding: 8px;
  width: 7%;
  text-align: center;
}

.tableContainer tbody tr:last-child td {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
