.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  border: none;
  max-width: 100%;
}

.rightSide {
  width: 120px;
}

.title {
  padding-left: 1rem;
  margin: 0;
}

.roundedBox {
  border-radius: 10px;
  padding: 8px;
  margin-right: 10px;
  cursor: pointer;
}

.time {
  margin-right: 1rem;
  text-align: left;
}

.languageLimit {
  display: flex;
  align-items: center;
}

.language {
  margin-right: 5px;
}

.limit {
  font-weight: bold;
}

.buttonAndTime {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.buttonAndTime button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
  margin-top: 5px;
  font-size: 15px;
}
