.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  border: none;
  width: 100%;
}

.rightSide {
  width: 300px;
  border: solid 1px black;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 120px;
}

.title {
  padding-left: 1rem;
  margin: 0;
}

.language {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.time {
  width: 580px;
  margin-right: 1rem;
  text-align: left;
}
