.container {
  display: flex;
  width: 50vw;
  flex-flow: column;
  align-items: center;
}

.leftArrow {
  position: absolute;
  top: 300px;
  left: 15px;
  font-size: 5rem;
  cursor: pointer;
  color: #5b5b5b;
}
.rightArrow {
  position: absolute;
  top: 300px;
  right: 15px;
  font-size: 5rem;
  cursor: pointer;
  color: #5b5b5b;
}
