table {
  width: 80%; /* 표의 전체 크기를 조절하는 값으로 설정하세요 */
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  border: 1px solid #ccc;
  padding: 8px;
  height: 20px;
}

th {
  background-color: #f2f2f2;
}
